<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"> 

  <display-name>StorageContextListener</display-name>

  <!-- Pagina iniziale -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- RISORSA JNDI: Database STORAGE -->
  <resource-ref>
    <description>JNDI reference to a data source for products</description>
    <res-ref-name>jdbc/storage</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <!-- RISORSA JNDI: Database UTENTI -->
  <resource-ref>
    <description>JNDI reference to a data source for users</description>
    <res-ref-name>jdbc/utenti</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <!-- Servlet per i prodotti -->
  <servlet>
    <servlet-name>ProductControl</servlet-name>
    <servlet-class>it.unisa.db.ProductControl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ProductControl</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>

</web-app>
